#--------
# Editing
#--------
*~
*.bak
*.bkp
*.log
*\#*\#
*\#*


#--------
# Sim
#--------
*.fst


#--------
# Vivado project directories and files
#--------
*.jou
*.log
.Xil
*.cache
*.data
*.ipdefs
*.ip_user_files
*.runs
*.gen
*.obj
*.dll
*.lib
*.exe
*.str


#--------
#PCB
#--------
1.pcb/openpci2-backplane/openpci2-backplane-backups
1.pcb/openpci2-backplane/fp-info-cache
1.pcb/openpci2-backplane/\#auto_saved_files\#
1.pcb/openpci2-backplane/~openpci2-backplane.kicad_sch.lck


#--------
# Misc
#--------
*/Thumbs.db
*xOLD*
*output*


#--------
# End-of-File
#--------
