#--------
# Editing
#--------
*~
*.bak
*.bkp
*.log
*\#*\#
*\#*


#--------
# Sim
#--------
*.fst


#--------
# Vivado project directories and files
#--------
*.jou
*.log
.Xil
*.cache
*.data
*.ipdefs
*.ip_user_files
*.runs
*.gen
*.obj
*.dll
*.lib
*.exe
*.str


#--------
#PCB
#--------
1.pcb/*/*-backups
1.pcb/*/fp-info-cache
1.pcb/*/\#auto_saved_files\#
1.pcb/*.kicad_sch.lck


#--------
# Misc
#--------
*/Thumbs.db
*xOLD*


#--------
# End-of-File
#--------
